---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/main.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}

## Import

Schema can be imported using the following format:

- `projects/{project}/locations/{location}/collections/{collection}/dataStores/{datastore}/schemas/{schema}`

> Note: Imported resources must be kept in sync with the Terraform configuration. If you modify the resource, the changes must also be applied to the Terraform configuration. Failure to do so can result in a Terraform plan that does not reflect the actual resource configuration.

### Example

{{ tffile .ImportFile }}