---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

> NOTE: This resource at the moment offers nothing beyond the standard Google provider. It is recommended to use the standard Google provider for now.

{{ if .HasExample }}

## Example Usage

{{ tffile .ExampleFile }}

{{ end }}

> **Warning ⚠️**
>
> `alis_google_spanner_database_iam_policy` cannot be used in conjunction with `alis_google_spanner_database_iam_binding` and `alis_google_spanner_database_iam_member` or they will fight over what your policy should be.
>
> In addition, be careful not to accidentally unset ownership of the table as google_bigtable_table_iam_policy replaces the entire policy.

> **Warning ⚠️**
>
> `alis_google_spanner_database_iam_binding` resources can be used in conjunction with `alis_google_spanner_database_iam_member` resources only if they do not grant privilege to the same role.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}

## Import

{{ tffile .ImportFile }}

{{ end }}