---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample }}

## Example Usage

{{ tffile .ExampleFile }}

{{ end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}

## Import

An [import block](https://developer.hashicorp.com/terraform/language/import) (Terraform v1.5.0 and later) can be used to import an existing resource into this resource.

```tf
import {
    id = ""
    to = {{.Name}}.resource_name
}
```

The terraform import command can also be used:

{{ tffile .ImportFile }}

{{ end }}
